@use "../../../shared.scss";

.navbar {
    position: absolute;
    top: 40px;
    left: 40px;
    right: 40px;
    width: calc(100% - 120px);

    @media(min-width: 1200px){
        top: 60px;
        left: 60px;
        right: 60px;
    }

    &-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &-right {
        display: flex;
        justify-content: space-between;
        align-items: center;

        a {
            margin-right: 60px;
        }

        .navbar-toggle {
            button {
                background: none; 
                border: none;
                position: relative;
                cursor: pointer;

                span:first-of-type {
                    margin-right: 30px;
                }
            }
        }

        .navbar-menu-box {
            position: relative;
            top: -5px;
            display: inline-block;
            width: 25px;

            span {
                position: relative;
                display: block;
                background: var(--black);
                width: 100%;
                height: 2px;

                &:last-of-type {
                    top: 5px
                }
            }
        }
    }
    
}