
.navbar-menu {

    &.menu-open {
        .navbar-menu__overlay {
            visibility: visible;
            opacity: 1;
        }

        .navbar-menu__content {
            transform: translateX(0);

            &::before {
                width: 100%;
                transition: width .8s ease-in-out
            }
        }
    }

    &__overlay {
        background: rgba(238,238,238,.7);
        height: 100vh;
        width: 100vw;
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        z-index: 1000;
        pointer-events: auto;
        visibility: hidden;
        opacity: 0;
    }

    &__content {
        position: fixed;
        top: 0;
        height: 100%;
        background: transparent;
        right: 0;
        width: 100%;
        z-index: 1000;
        padding: 0 30px 80px 80px;
        display: flex;
        flex-direction: column;
        transform: translateX(100%);
        transition: transform .5s ease-in-out;

        &::before {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            right: 0;
            height: 100%;
            width: 70%;
            background-color: white;
            z-index: -1;
            transition: width .8s ease-in-out
        }

        @media(min-width: 768px){
            width: 680px;
        }

        @media(min-width: 1400px){
            width: 780px;
        }

        &-wrapper {
            display: flex;
            flex: 1;
            align-items: center;
        }
    }

    .navbar-link {
        display: block;

        &__item {
            position: relative;
            display: block;
            padding: 12px 0;
            line-height: 120%;
            letter-spacing: .00464286em;
            text-transform: capitalize;
            text-decoration: none;

            em {
                display: block;
                font-style: normal;
                overflow: hidden;
                position: relative;

                span {
                    display: inline-block;
                    color: transparent; // to avoid duplicate
                    transition: transform 1.2s cubic-bezier(.19,1,.22,1); // Moves faster than the pseudo elements

                    &::after, &::before {
                        content: attr(data-text); // Text from attribute
                        display: block;
                        position: absolute;
                        color: var(--black);
                        transition: transform 2s cubic-bezier(.19,1,.22,1) // Moves slower the main text
                    }

                    &::before { // Sits on top of main text
                        top: 0;
                        transform-origin: right bottom;
                    }

                    &::after { // Sits below the main text
                        top: 100%;
                        transform-origin: left top;
                        transform: skewY(5deg) // Starts out skewed
                    }
                }
            }

            &:hover, &:focus {
                em span {
                    transform: translateY(-100%); // Move up the main text and with it all the pseudo elements
    
                    &::before {
                        transform: skewY(7deg); // Skews
                    }

                    &::after {
                        transform: skewY(0deg);
                    }
                    
                }
            }
        }

    }

    &__links {
        flex: 1;
        display: flex;
        justify-content: flex-start;

        &-left {
            flex: 1 1 40%;
            
            .navbar-link__item {
                font-size: 16px;
            }
        }

        &-right {
            flex: 1 1 60%;

            .navbar-link__item {
                font-size: 38px;

                @media(min-width: 360px){
                    font-size: 42px;
                }

                @media(min-width: 767px){
                    font-size: 56px;
                }

                @media(min-width: 1600px){
                    font-size: 60px;
                }
            }
        }
    }

    &__contact {
        flex: 0 0 0;
        padding-bottom: 30px;
    }

    &__title {
        font-size: 14px;
        color: var(--light-grey);
    }
}